* {
	box-sizing: border-box;

	&:before, &:after {
		box-sizing: border-box;
	}
}
html, body{
	height: 100%; width: 100%;
}
body{
	margin: 0;
}

h1,h2,h3,h4,h5{
	margin: 0 !important;
}

h1{
	font-family: 'Gilroy Bold';
	font-size: 54px;
	line-height: 1.11;
}

h2{
	font-family: 'Gilroy Bold';
	font-size: 44px;
	font-weight: 800;
}

h3{
	font-family: 'Gilroy Bold';
	font-size: 34px;
	font-weight: 800;
}
h4{
	font-family: 'Gilroy Bold';
	font-size: 22px;
}
h5{
	font-family: 'Gilroy Regular';
	font-size: 16px;
	font-weight: 600;
}


