@font-face {
  font-family: 'Gilroy Bold';
  src:  url(../fonts/Gilroy-Bold.woff) format("woff"),
        url(../fonts/Gilroy-Bold.ttf) format("truetype"),
        url(../fonts/Gilroy-Bold.eot) format("eot")
}

@font-face {
  font-family: 'Gilroy Regular';
  src:  url(../fonts/Gilroy-Light.woff) format("woff"),
        url(../fonts/Gilroy-Light.ttf) format("truetype"),
        url(../fonts/Gilroy-Light.eot) format("eot")
}

$green-text: #8ee94f;