@import "vars";

@media only screen and (min-width : 1600px){
  .w-604{
    width: 750px;
  }

  .section-2 {
    .img-cap, .description{
      width: 50%; height: auto;
    }
  }
}

@media only screen and (min-width : 1201px) and (max-width: 1599px){
  .section-2 .img-cap{
    height: 250px; width: auto;
  }

  .section-4 .steps .step{
    height: auto;
    padding: 7px 30px 20px;
  }
}

@media only screen and (min-width : 1201px) and (max-width: 1300px) {
  .section-2 .img-cap{
    width: auto !important; height: 265px !important;
  }
}

  @media only screen and (max-width: 1200px){

  h1{
    font-size: 40px; line-height: 1 !important;
  }

  h2{
    font-size: 30px;
  }

  h3{
    font-size: 30px;
  }

  .w-604{
    width: 550px;
  }

  main{
    padding: 20px 40px 46px;
    background-size: auto;
  }
  .section-1{
    padding-top: 35px;

    .description{
      padding-top: 20px;
      font-size: 16px;
    }
  }

  .section-2{
    display: block;
    padding-top: 27px;

    .img-cap{
      display: block;
      margin: auto;
    }

    .description{
      padding-top: 50px; padding-left: 0;
      display: flex; flex-wrap: wrap;

      h3{
        text-align: center;
        width: 100%;
      }

      .list-item{
        width: 50%;
        padding-left: 34px; padding-right: 15px;
        font-family: 'Gilroy Regular';
        font-weight: 400;

        &:nth-of-type(1){
          order: 1;
        }
        &:nth-of-type(2){
          order: 3;
          padding-top: 10px;

          &:before{
            top: 12px;
          }
        }
        &:nth-of-type(3){
          order: 5;
          padding-top: 10px;

          &:before{
            top: 12px;
          }
        }
        &:nth-of-type(4){
          order: 2;
        }
        &:nth-of-type(5){
          order: 4;
          padding-top: 10px;

          &:before {
            top: 12px;
          }
        }
      }
    }
  }

  .section-3{
    padding-top: 60px;

    form{
      input{
        width: 222px;
        //margin: 0;

        &:nth-of-type(2){
          margin: 0 11px;
        }
      }
    }
  }

  .section-4{
    padding-top: 60px;

    h2{
      width: 507px;
      margin: auto !important;
    }

    .steps{
      display: block;
      padding-top: 30px;

      .step{
        display: flex; align-items: center;
        width: 100%; height: auto;
        padding: 0 12px;
        text-align: left;

        &:nth-of-type(2){
          margin: 10px 0;
        }

        img{
          margin-right: 32px;
        }

        h5{
          padding-top: 2px;
          padding-right: 40px;
          font-size: 16px !important;
        }
      }
    }
  }

    body.rtl{
      .section-2{
        .description{
          padding-right: 0;

          .list-item{
            padding-right: 34px; padding-left: 15px;
          }
        }
      }

      .section-4{
        .steps{
          .step{
            text-align: right;

            img{
              margin-left: 32px; margin-right: 0;
            }

            .description{
              padding-left: 40px; padding-right: 0;
            }
          }
        }
      }
    }
}

@media only screen and (max-width : 790px){
  .section-1{
    padding: 35px 0;
  }

  .section-3 form{
    .form-row{
      display: block;

      & > div{
        margin: 0 auto 35px;
        width: 350px;
      }

      input{
        width: 100%;
      }
    }
  }

}

@media only screen and (max-width : 675px){
  main{
    padding: 10px 15px 25px;
  }

  .w-604{
    width: 100%;
  }

  .top-img{
    height: 360px;
  }

  .lang-switch{
    justify-content: center;
  }

  .section-1{
    padding-top: 220px;
    text-align: center;

    .description{
      padding-top: 23px;
    }
  }

  .section-2{
    padding-top: 40px;

    .img-cap{
      width: auto !important; height: 195px !important;
    }

    .description{
      display: block;

      h3{
        text-align: unset;
      }

      .list-item{
        width: 100%;
        padding-top: 10px;

        &:before{
          top: 12px;
        }
      }
    }
  }

  .section-3{
    form{
      display: block;

      .form-row > div{
        width: 100%;
      }

      input{
        width: 100%;
        margin: 0 !important;

        &:nth-of-type(2){
          margin: 10px 0;
        }

        &[type="submit"]{
          margin: 0 auto !important;
        }
      }

      .iti #phone{
        margin: 0 !important;
        padding-left: 60px;
      }
    }
  }

  .section-4{
    padding-top: 80px;

    h2{
      width: 100%;
    }

    .steps{
      .step{
        display: block;
        text-align: center;
        padding: 7px 12px 42px 12px;

        img{
          margin: 0;
        }

        h5{
          padding-top: 11px;
          padding-right: 0;
        }
      }
    }
  }

  body.rtl{
    .section-3{
      form{
        .iti{
          #phone{
            padding-right: 60px;
          }
        }
      }
    }

    .section-4{
      .steps{
        .step{
          text-align: center;

          img{
            margin-left: 0;
          }

          .description{
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 375px){
  .section-2{
    .img-cap{
      width: 100% !important; height: auto !important;
    }

    .description{
      .list-item{
        font-size: 16px;

        &:before{
          top: 23px;
        }

        &:nth-of-type(2){
          &:before{
            top: 9px;
          }
        }
        &:nth-of-type(3){
          &:before{
            top: 9px;
          }
        }
      }
    }
  }
}