@import "fonts";
@import "libs";
@import "base";
@import "vars";

.green-text{
  color: $green-text;
}

.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

main{
  background-color: #020305;
  padding: 30px 125px 145px;
  background-image: url("../img/bitmap.jpg");
  background-position: bottom; background-size: contain; background-repeat: no-repeat;
}

.w-604{
  width: 604px;
}

.top-img{
  height: 660px; width: 100%;
  background-image: url("../img/top-img.png");
  background-position: center; background-repeat: no-repeat; background-size: cover;
  position: absolute; top: 0; left: 0;
  z-index: 0;

  &:after{
    content: '';
    height: 100%; width: 100%;
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(to bottom, rgba(2, 3, 5, 0.4) 75%, rgba(2, 3, 5, 0.8) 83%, #020305 100%);
  }
}

.lang-switch, .section-1, .section-2, .section-3, .section-4{
  position: relative;
  //z-index: 1;
}

.lang-switch{
  width: fit-content;
  display: flex; justify-content: center;
  direction: ltr;
  margin: auto;
  border-radius: 6px;
  backdrop-filter: blur(5px); background-color: rgba(21, 23, 21, 0.5);

  a{
    display: flex; align-items: center; justify-content: center;
    position: relative;
    color: #fff;
    height: 35px; width: 70px;
    text-decoration: none; outline: none;
    transition: .2s all;
    border-radius: 6px;
    font-family: 'Montserrat'; font-size: 14px;

    &:hover{
      opacity: .75;
    }

    &.active{
      background: linear-gradient(to bottom, #b4ec51, #429321);

      &:hover{
        opacity: .85;
      }
    }

    &:after{
      content: '';
      background-position: center; background-repeat: no-repeat; background-size: contain;
      height: 16px; width: 23px;
      margin-left: 6px;
    }

    &.en:after{
      background-image: url("../img/lang-en.png");
    }

    &.ar:after{
      background-image: url("../img/lang-ar.png");
    }
  }
}

.section-1{
  padding: 80px 100px 0;
  text-align: center;

  .section-1-inner{
    transform: translateY(0);
    animation-name: Appearance;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
    top: 0; left: 0;
  }
  @-webkit-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  @-o-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  @-moz-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  h1#head-title{
    color: #fff;
    line-height: 60px;
  }

  .description{
    padding-top: 30px;
    font-family: 'Gilroy Regular'; font-size: 20px; font-weight: 600;
    color: rgba(#fff, .85);
  }
 }

.section-2{
  display: flex; justify-content: center;
  padding-top: 92px;

  .img-cap{
    height: 342px !important; width: 604px !important;
    cursor: pointer;
    transition: .2s all;

    &:hover{
      opacity: .9;
    }
  }

  .description{
    padding-left: 50.5px;
    color: #fff;

    .list-item{
      font-family: 'Gilroy Regular'; font-size: 20px; font-weight: 600;
      position: relative;
      padding-top: 24px; padding-left: 44px;
      color: rgba(#fff, .9);

      &:before{
        content: '';
        display: inline-block;
        position: absolute; top: 25px; left: 0;
        height: 20px; width: 20px;
        background-image: url("../img/check.png");
        background-repeat: no-repeat; background-position: center;
        vertical-align: top;
      }
    }

  }
}

.section-3{
  text-align: center;
  padding-top: 113px;

  h3{
    color: #fff;
  }

  form{
    padding-top: 38px;

    & > div > div{
      position: relative;
    }

    input{
      width: 250px;
      margin: 0 10px;
      background: #fff;
      padding: 12px 16px;
      border-radius: 6px;
      font-family: 'Gilroy Regular'; font-size: 16px; font-weight: 600;
      line-height: 1.88;
      color: #000000;
      outline: none !important; text-decoration: none !important;
      border: none;
      transition: .15s all;

      &::placeholder{
        color: rgba(#000, .4);
      }

      &.error{
        border-radius: 6px;
        box-shadow: inset 0 -4px 0 0 #fa5959;
        color: #fa5959;
      }
    }

    label{
      height: 0 !important; width: 0 !important;
      display: none !important;
      opacity: 0 !important;
      pointer-events: none !important;
    }

    // scrollbar
    .iti{
      width: 100%;

      .iti__flag-container {
        left: 10px !important;
      }

      .iti__country{
        font-family: 'Gilroy Regular';
        padding: 10px;
      }

      #phone{
        margin: 0 10px !important;
        padding-left: 52px;
      }

      #iti-0__country-listbox{
        width: 250px !important;
        overflow-x: hidden !important;
        border-radius: 6px !important;
        top: 100% !important;

        &::-webkit-scrollbar-track{
          border-radius: 10px;
          background-color: transparent;
          border-radius: 6px;
        }
        &.iti__country-list::-webkit-scrollbar {
          width: 10px;
          background-color: #F8f8f8;
          border-radius: 6px;
        }
        &.iti__country-list::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #999;
        }
      }
    }
  }

  .submit-form {
    display: block;
    width: 250px;
    margin: 38px auto 0;
    padding: 13px 0 13px;
    border-radius: 10px;
    box-shadow: 0 2px 0 0 #2d740f, inset 0 1px 0 0 #d4ff91;
    background: linear-gradient(to bottom, #b4ec51, #429321);
    text-decoration: none; outline: none;
    font-family: 'Gilroy bold';
    font-size: 24px; font-weight: 800;
    color: #fff; line-height: normal;
    transition: .2s all;
    cursor: pointer;

    &:hover {
      opacity: .95;
    }
  }
}

.section-4{
  padding-top: 119px;
  text-align: center;

  h2{
    color: #fff;
  }

  .steps{
    display: flex; justify-content: center;
    padding-top: 83px;

    .step{
      width: 382px; height: 270px;
      padding: 7px 30px 42px;
      border-radius: 14px;
      backdrop-filter: blur(10px);
      box-shadow: 0 20px 26px 0 rgba(0, 0, 0, 0.15);
      background-color: rgba(255, 255, 255, 0.8);

      &:nth-of-type(2){
        margin: 0 22px;
      }

      img{
        display: inline-block;
        height: 126px; width: 126px;
      }

      h4{
        font-weight: 800;
        line-height: normal;
        font-family: 'Gilroy Bold';
      }

      h5{
        padding-top: 11px;
        color: rgba(#000, .7);
      }
    }
  }
}

.loading{
  display: none;
  position: fixed;
  top: 0; left: 0;
  height: 100%; width: 100%;
  transition: .2s all;
  background-color: rgba(0, 0, 0, .55);

  .stack-loader, .shift-loader, .thumbfan-spinner {
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 60px);
    //transform: translate(-25%, -25%);
    width: 120px;
    height: 120px;

    .card {
      position: absolute; left: calc(50% - 20px); top: calc(50% - 50px);
      height: 60px;
      width: 40px;
      transform-origin: bottom center;
      transform: rotate(45deg);
      animation: thumbfan-spin 2s ease infinite both;
      border-radius: .5em;
      border: 2px solid white;
      background-color: #3b3743;

      &:nth-child(1) {
        -webkit-animation-delay: 50ms;
        animation-delay: 50ms;
      }
      &:nth-child(3) {
        -webkit-animation-delay: 100ms;
        animation-delay: 100ms;
      }
      &:nth-child(3) {
        -webkit-animation-delay: 150ms;
        animation-delay: 150ms;
      }
      &:nth-child(4) {
        -webkit-animation-delay: 200ms;
        animation-delay: 200ms;
      }
      &:nth-child(5) {
        -webkit-animation-delay: 250ms;
        animation-delay: 250ms;
      }
      &:nth-child(6) {
        -webkit-animation-delay: 300ms;
        animation-delay: 300ms;
      }
      &:nth-child(7) {
        -webkit-animation-delay: 350ms;
        animation-delay: 350ms;
      }
      &:nth-child(8) {
        -webkit-animation-delay: 400ms;
        animation-delay: 400ms;
      }
    }
  }

  @keyframes thumbfan-spin {
    0% { transform: rotate(0); }
    60% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
  }

  .success-icon, .error-icon{
    display: none;
    height: 130px; width: 130px;
    position: absolute; top: calc(50% - 54px); left: 0; right: 0;
    margin: auto;
    color: #fff; font-family: "Gilroy Semibold";
    text-transform: uppercase;
    text-align: center;

    span{
      width: 200px;
      position: absolute; top: calc(100% + 15px); left: -35px; right: 0;
      margin: auto;
      font-size: 15px; font-family: Gilroy Bold;
    }
  }
}

body.rtl{
  .section-2 .description{
    padding-right: 50.5px; padding-left: 0;

    .list-item{
      padding-right: 44px; padding-left: 0;

      &:before{
        left: unset; right: 0;
      }
    }
  }

  .section-3{
    form{
      .iti{

        .iti__flag-container{
          left: unset !important; right: 10px;

          .iti__country{
            display: flex;

            .iti__country-name, .iti__flag-box{
              margin-right: 0;
              margin-left: 6px;
            }

            .iti__flag-box{
              display: inline-flex; align-items: center;
             }

            .iti__dial-code{
              direction: ltr;
            }
          }
        }

        .iti__arrow{
          margin-left: 0; margin-right: 6px;
        }

        #phone{
          padding-left: 6px; padding-right: 52px;
          direction: ltr; text-align: right;
        }
      }
    }
  }
}


@import "media";